@font-face {
  font-family: 'SuisseIntl';
  src: url('http://factorial.io/fonts/SuisseIntl-Regular-WebXL.eot'); /* IE9 Compat Modes */
  src: url('http://factorial.io/fonts/SuisseIntl-Regular-WebXL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://factorial.io/fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntl-Regular-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntl-Regular-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://factorial.io/fonts/SuisseIntl-Regular-WebXL.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('http://factorial.io/fonts/SuisseIntl-Light-WebXL.eot'); /* IE9 Compat Modes */
  src: url('http://factorial.io/fonts/SuisseIntl-Light-WebXL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://factorial.io/fonts/SuisseIntl-Light-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntl-Light-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntl-Light-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://factorial.io/fonts/SuisseIntl-Light-WebXL.svg') format('svg'); /* Legacy iOS */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-SemiBold';
  src: url('http://factorial.io/fonts/SuisseIntl-SemiBold-WebXL.eot'); /* IE9 Compat Modes */
  src: url('http://factorial.io/fonts/SuisseIntl-SemiBold-WebXL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://factorial.io/fonts/SuisseIntl-SemiBold-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntl-SemiBold-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntl-SemiBold-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://factorial.io/fonts/SuisseIntl-SemiBold-WebXL.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntlMono';
  src: url('http://factorial.io/fonts/SuisseIntlMono-Regular-WebXL.eot'); /* IE9 Compat Modes */
  src: url('http://factorial.io/fonts/SuisseIntlMono-Regular-WebXL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://factorial.io/fonts/SuisseIntlMono-Regular-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntlMono-Regular-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://factorial.io/fonts/SuisseIntlMono-Regular-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://factorial.io/fonts/SuisseIntlMono-Regular-WebXL.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
}


html,
body,
table,
td,
tr {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 155%;
  /* -webkit-font-feature-settings: 'zero'; */
  /* -webkit-font-smoothing: antialiased; */
}

body {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  font-size: .886rem;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

strong {
  display: inherit;
  /* font-family: "SuisseIntl-SemiBold", Arial, sans-serif; */
  font-size: .56rem;
  font-weight: 800;
}

.nr,
.views-field-quantity,
.views-field-commerce-total,
.component-total,
.LineNumers {
  /* font-family: "SuisseIntlMono", Arial, sans-serif; */
  /* -webkit-font-feature-settings: 'tnum', 'zero'; */
  /* font-variant: slashed-zero; */
  /* word-spacing: -.25rem; */
}



.invoice {
  position: relative;
  height: 100%;
}

.Page {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  height: 100%;
}

.Pdf-invoiced {
  display: inline-block;
  position: relative;
  height: 100%;
}

/* pos-absolute */
.Logo,
.Header,
.Meta,
.LineNumers,
.Sidebar,
.CompanyName {
  position: absolute;
}

@media {
  .Logo,
  .Header,
  .Meta,
  .LineNumers,
  .Sidebar,
  .CompanyName {
    position: absolute;
  }
}

/* text-top */
.Header,
.Meta,
.Content,
.LineNumers,
.Sidebar {
  top: 0;
  padding-top: 10.9rem;
}

.CompanyName,
.LineNumers,
.Sidebar {
  display:none;
}

/* text-left */

.Header,
.Meta {
  left: 10.95%;
  width: 58%;
}

/* text-right */
.Logo,
.Sidebar,
.CompanyName {
  right: 0;
  width: 26.6%;
}


.Logo {
  top: 1.5rem;
}

.Logo-image {
  width: 48.6%;
  margin-left: -9.5%;
}

.without_logo .Logo-image {
  display: none; 
}

.Header-date,
.Header-orderNumber {
  text-align: right;
}

.Meta {
}

.Meta-id,
.Meta-date {
  float: left;
}

.Meta-id {
  width: 68%;
}

.Meta-date {
  width: 32%;
}

.Content {
  position: relative;
  padding-right: 30%;
  padding-left: 10.8%;
  /* overflow: hidden; */
}

.lineItems table {
  table-layout: auto;
}

.lineItems td {
  padding-bottom: 1.3rem;
  vertical-align: bottom;
}

.views-align-right {
  text-align: right;
}

.views-field-line-item-title {
  padding-right: 1rem;
}

.views-field-quantity {
  text-align: right;
}

.views-field-quantity,
.views-field-commerce-total {
  width: 22%;
}

.OrderTotal {
}

.OrderTotal td {
}

.component-type-commerce-price-formatted-amount {
  font-weight: 600;
}

.component-total {
  text-align: right;
}

.AdditionalText,
.InvoiceText {
  display: inherit;
}


.LineNumers {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: .56rem;
  font-weight: 700;
  color: #DEDEDE;
  color: #f00;
}

.Sidebar {
  font-size: .74rem;
}

.CompanyName {
  top: 73rem;
  width: 26.6%;
}

.CompanyName img {
  width: 77%;
}
