/*
 * Menu Styles
 */


.navbar--main {
  left: 250px;
  margin-bottom: 0;
}

.navbar-fixed-top {
  border: 0;
}

.logo {
  max-width: 100px;
}

#sidebar-toggle-button {
  float: right;
}

.badge {

}
